@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
audio {
  position: absolute;
  width: 20%;
  right: 5%;
}
audio:focus {
  outline: none;
}
audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 70%;
}
audio::-webkit-media-controls-volume-button {
  display: none;
}
audio::-webkit-media-controls {
  background-color: transparent;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}
audio::-webkit-media-controls-timeline-container,
input[type="range" i]::-webkit-media-slider-container,
input[type="range" i]::-webkit-media-slider-container > div,
input[type="range" i]::-webkit-media-slider-thumb,
audio::-webkit-media-controls-fullscreen-button,
audio:-webkit-full-page-media::-webkit-media-controls-panel {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
input::-webkit-media-slider-container,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-overlay-enclosure,
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-panel {
  background-color: transparent;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {height: 400px} 
  to {height: 600px}
}
.story-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(27, 17, 17, 0.7);
  padding-bottom: 105px;
  background: black;
  z-index: 1;
}
.story {
  position: relative;
  height: 600px;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  z-index: 3;
  background: white;
  color: blue;
 
  
}


@media screen and (max-width: 700px) {
  .story-side1,
  .story-side2 {
    display: none;
  }
  audio {
    right: 35%;
    z-index: 5;
    top: 5%;
  }
}

.story p {
  font-family:'Poppins', cursive;
  position: absolute;
  text-align: center;
  font-size:35px;
  color: white;
  text-align: center;
  transition: 1s ease-in;
  background:rgb(0,0,0,0.4);
  
}
.story:onClick{
height:800px;
}
.story-side1 img,
.story-side2 img,
.story img {
  position: absolute;
  height: 100%;
  left: 0%;
  width: 100%;
}
.story-side1 {
  position: relative;
  height: 450px;
  width: 300px;
  margin-left: 150px;
  margin-right: 20px;
  margin-top: 105px;
  opacity: 0.2;
  color: blue;
}
.story-side2 {
  position: relative;
  height: 450px;
  width: 300px;
  margin-left: 20px;
  margin-right: 150px;
  margin-top: 105px;
  background: black;
  color: blue;
  opacity: 0.2;
  z-index: 0;
}

.story-side2:hover,
.story-side1:hover {
  opacity: 0.5;
}
.fa-chevron-circle-left {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  left: 5%;
}
.fa-chevron-circle-right {
  right: 5%;
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
}
.fa-times-circle {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 30px;
  color: white;
}
